.modal {
    position: sticky;
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 400px;
    background-color: darkgrey;
    margin-top: 1rem;
    margin-bottom: -4rem;
    padding: 15px;
    box-sizing: border-box;
}

.input-wrapper {
    display: flex;
}

.label-div {
    display: flex;
    flex-direction: column;
    min-width: 100px;
}

.input-div {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    margin-left: 15px;
}

.modal button {
    align-self: flex-end;
    margin-top: 1.5rem;
}